// FONTS
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Playfair+Display:wght@700&display=swap");
$font-montserrat: "Montserrat", sans-serif;
$font-playfair: "Playfair Display", serif;

// COLORS
$color-black: #000000;
$color-dark: #282828;
$color-brown: #998431;
$color-light-brown: #af9839;
$color-beige: #e6e3c4;
$color-border: #c4c4c4;
$color-white: #ffffff;