// FONTS
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Playfair+Display:wght@700&display=swap");
$font-montserrat: "Montserrat", sans-serif;
$font-playfair: "Playfair Display", serif;

// COLORS
$black: #000000;
$dark: #282828;
$brown: #998431;
$light-brown: #af9839;
$beige: #e6e3c4;
$border: #c4c4c4;
$white: #ffffff;